<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Springboot Hello Sample Test</h1>
    <p>
      <span th:text="${message}"></span>!!!
    </p>
    <table>
        <tr th:each="item : ${list}" th:object="${item}">
          <td th:text="*{id}"></td>
          <td th:text="*{locationId}"></td>
          <td th:text="*{name}"></td>
          <td th:text="*{temperature}"></td>
          <td th:text="*{hamidity}"></td>
        </tr>
    </table>
  </body>
</html>